body { background-color: black;
 font-family: Arial, sans-serif;
 }
.m1 { text-align: center; 
padding:50px;} 
img { width:200px;hight: 200px;} 
.main {text-align: center ;
background-color: #4B0082; 
padding-down: 50px;}
.listc {text-align: center;}
.io1 {background-image: url("Firefox_wallpaper.png");
text-align: center; 
padding: 50px;} 
.he2 {text-align: center;
